 <!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex justify-content-center align-items-center">

        <div>
            <img src="~/Uploads/UpImages/Ephoto360.com_1661ead4e67bae.jpg" style="width: 70%; height: 100%;">
            @*<a style="font-size:large" href="#" class="d-block">TixCo</a>*@
        </div>
    </div>

    <!-- SidebarSearch Form -->
    <!--<div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
            <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-sidebar">
                    <i class="fas fa-search fa-fw"></i>
                </button>
            </div>
        </div>
    </div>-->
   
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="/admin/Category" class="nav-link" style="color: black;">
                    <i class="nav-icon fas fa-list"></i>
                    <p>
                        Danh mục
                        @*<i class="right fas fa-angle-left"></i>*@
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="~/admin/News" class="nav-link" style="color: black;">
                    <i class="nav-icon fas fa-newspaper"></i>
                    <p>
                        Tin tức
                        @*<span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>

            <!--<li class="nav-item">
    <a href="~/admin/Posts" class="nav-link" style="color: black;">
        <i class="nav-icon fas fa-th"></i>
        <p>
            Bài viết-->
            @*<span class="right badge badge-danger">New</span>*@
            <!--</p>
        </a>
    </li>-->
            <!--<li class="nav-item">
    <a href="/post" class="nav-link" style="color: black;">
        <i class="nav-icon fas fa-th"></i>
        <p>
            Quảng cáo-->
            @*<span class="right badge badge-danger">New</span>*@
            <!--</p>
        </a>
    </li>-->
            <li class="nav-item">
                <a href="#" class="nav-link" style="color: black;">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Quản lý sản phẩm
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="~/admin/ProductCategory" class="nav-link">
                            <i class="far fa-circle nav-icon" style="color: black;"></i>
                            <p style="color: black;">Danh mục</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="~/admin/Product" class="nav-link">
                            <i class="far fa-circle nav-icon" style="color: black;"></i>
                            <p style="color: black;">Sản phẩm</p>
                        </a>
                    </li>

                </ul>
            </li>
            <li class="nav-item">
                <a href="~/admin/Order" class="nav-link" style="color: black;">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Đơn hàng
                        @*<span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="~/admin/Review" class="nav-link" style="color: black;">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Xem đánh giá
                        @*<span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="~/admin/Contact" class="nav-link" style="color: black;">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Xem liên hệ
                        @*<span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="~/admin/users" class="nav-link" style="color: black;">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Tài khoản
                        @*<span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="~/admin/Statistical" class="nav-link" style="color: black;">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Thống kê
                        @*<span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>
            <!--<li class="nav-item">
    <a href="/post" class="nav-link" style="color: black;">
        <i class="nav-icon fas fa-th" style="color: black;"></i>
        <p >
            Cấu hình hệ thống-->
            @*<span class="right badge badge-danger">New</span>*@
            <!--</p>
        </a>
    </li>-->
            <li class="nav-item">
                <a href="~/admin/Home/DangXuat" class="nav-link" style="color: black;">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Đăng xuất
                        @*<span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->