
@{
    ViewBag.Title = "KhongCoQuyen";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        <h2>Bạn không có quyền truy cập chức năng</h2>
    </div>
    </div>
